@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: ivory;
}

canvas
{
    touch-action: none;
}

h2
{
    margin-top: 3%;
    font-size: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

h3
{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 80px;
    margin-top: 5%;
}

h4
{
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
}

h5
{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

p
{
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    line-height: 1.5;
}

.r3f
{
    touch-action: none;
}

.htmlScreenVertical
{
    width: 1300px;
    height: 1940px;
    border: none;
    border-radius: 60px;
    overflow: hidden;
}

.standardBox
{
    outline: solid;
    outline-color: #1D2442;
    color: #1D2442;
    outline-width: 8px;
    padding: 1.5rem;
    margin-top: 1.5rem;
    flex: 1;
}
